.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    transition: 0.3s;
    z-index: 1;
}

.show{
    background-color: rgba(0, 0, 0, 0.85);
}

.navbar-img{
    height: 35px;
}